.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;

  @include flexPosition;

  background-color: color(--blue);
  color: color(--white);

  transition: filter .2s;

  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }

  & > img {
    margin-right: 1rem;
    width: 2rem;
  }

  &.outlined {
    background-color: color(--white);
    color: color(--blue);
    border: .2rem solid color(--blue);
  }
}