.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;

  grid-template-areas: 
  'header header'
  'left right';

  header {
    grid-area: header;
    width: 80%;
    margin: 3.5rem auto;

    img {
      width: 16.7rem;
    }
  }

  #bg {
    grid-area: left;

    background: url('/assets/home-bg.svg') no-repeat top/contain;
  }

  main {
    grid-area: right;

    display: flex;
    align-items: center;

    .container {
      width: #{"min(36.3rem, 100%)"};

      h2 {
        font-family: 'Poppins', sans-serif;
      }

      form {
        input {
          border: .2rem solid color(--gray-blue);
          padding: 0 1.6rem;
        }

        input, .button {
          width: 100%;
          margin-bottom: 1.8rem;
        }
      }
    }
  }
}