// RESET
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
}

a, li, ul {
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  background-color: color(--background);
}

body, button, input, textarea {
  font-size: clamp(14px, 1.6rem, 2vw); 
  /*
    clamp: minimum-font-size, default-font-size, maximum-font-size
  */
  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;

  header {
    grid-area: header;
    width: 80%;
    margin: 3.5rem auto;

    img {
      width: 16.7rem;
    }
  }
}