<main>
  <h1>Entre como participante ou crie sua sala</h1>
  <div class="container">
    <section id="enter-room">
      <h2>Entre como participante</h2>
      <form>
        <input type="number" id="room-id" placeholder="Código da sala">
        <button class="button">
          <img src="/images/enter-room.svg" alt="Entrar na sala">
          Entrar na sala
        </button>
      </form>
    </section>

    <div class="separator">
      <div></div>
      <span>ou</span>
      <div></div>
    </div>

    <section id="create-room">
      <h2>Crie sua sala de forma fácil</h2>
      <a href="/create-pass" class="button outlined"><img src="/images/users.svg" alt="Criar sala">Criar sala</a>
    </section>
  </div>  
</main>