#home.content main h1, #room.content main #questions h2 {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0; }

#room.content main #questions::-webkit-scrollbar {
  width: 1rem; }

#room.content main #questions::-webkit-scrollbar-track {
  background-color: #A1B2CD; }

#room.content main #questions::-webkit-scrollbar-thumb {
  background-color: #3485FF;
  border-radius: 1rem; }

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 560px) {
    html {
      font-size: 55%; } }

a, li, ul {
  list-style: none;
  text-decoration: none; }

body {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  background-color: #F6FAFF; }

body, button, input, textarea {
  font-size: clamp(13px, 1.6rem, 2vw);
  /*
    clamp: minimum-font-size, default-font-size, maximum-font-size
  */
  font-family: 'Open Sans', sans-serif; }

.content {
  width: 100%;
  margin: 0 auto; }
  .content header {
    grid-area: header;
    width: 80%;
    margin: 3.5rem auto; }
    .content header img {
      width: 16.7rem; }

/* ------------- MODAL ------------ */
.modal-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(4, 9, 17, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease; }
  .modal-wrapper .modal {
    width: min(59rem, 90%);
    background-color: #FAFAFA;
    margin: auto;
    padding: 6.4rem;
    border-radius: .8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center; }
    .modal-wrapper .modal h2 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1.2rem;
      color: #0D114F; }
    .modal-wrapper .modal p {
      margin-bottom: 2.4rem;
      color: #4D5E77; }
    .modal-wrapper .modal form input {
      margin-bottom: 4rem;
      padding: 1.3rem 1.6rem;
      border: 0.2rem solid #3485FF;
      border-radius: .8rem;
      outline: none;
      width: min(30.2rem, 90%); }
    .modal-wrapper .modal form .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .8rem; }
      .modal-wrapper .modal form .buttons .button {
        padding: 1.3rem 2.2rem; }
        @media (max-width: 560px) {
          .modal-wrapper .modal form .buttons .button {
            padding: 1.3rem 1.2rem; } }

.modal-wrapper.active {
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease; }

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3485FF;
  color: #FAFAFA;
  transition: filter .2s;
  cursor: pointer; }
  .button:hover {
    filter: brightness(1.2); }
  .button > img {
    margin-right: 1rem;
    width: 2rem; }
  .button.outlined {
    background-color: #FAFAFA;
    color: #3485FF;
    border: 0.2rem solid #3485FF; }
  .button.red {
    background-color: #E83F5B;
    color: #FAFAFA; }
  .button.gray {
    background-color: #E5EAF1;
    color: #4D5E77; }
    .button.gray:hover {
      filter: grayscale(1); }

.separator {
  display: flex;
  align-items: center; }
  .separator div:first-child,
  .separator div:last-child {
    background-color: #A1B2CD;
    width: 100%;
    height: 1px; }
  .separator span {
    color: #A1B2CD;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 0;
    padding: 0 1.35rem; }

.ball {
  width: 21.2rem;
  height: 21.2rem;
  background-color: #3485FF;
  clip-path: circle();
  opacity: .1;
  position: fixed; }

#home.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas: 'header header' 'left right'; }
  @media (max-width: 760px) {
    #home.content {
      grid-template-columns: 100%;
      grid-template-rows: 11.4rem 1fr;
      grid-template-areas: none;
      justify-items: center; } }
  @media (max-width: 760px) {
    #home.content header {
      grid-area: initial;
      display: flex;
      justify-content: center; } }
  @media (max-width: 760px) {
    #home.content header > img {
      width: 14.7rem; } }
  #home.content #bg {
    grid-area: left;
    background: url("/images/home-bg.svg") no-repeat top/contain;
    background-position-x: -7rem; }
    @media (max-width: 760px) {
      #home.content #bg {
        display: none; } }
    #home.content #bg .ball.top {
      width: 63.3rem;
      height: 63.3rem;
      top: -46rem;
      right: -35rem; }
    #home.content #bg .ball.bottom {
      bottom: -15rem;
      right: 5.6rem; }
  #home.content main {
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -12rem; }
    @media (max-width: 760px) {
      #home.content main {
        grid-area: initial; } }
    #home.content main .container {
      width: min(36.3rem, 100%); }
      #home.content main .container section h2 {
        font-family: 'Poppins', sans-serif;
        color: #0D114F;
        font-size: clamp(20px, 5vw, 2.8rem);
        margin-bottom: 2.4rem; }
      #home.content main .container section form input {
        border: 0.2rem solid #A1B2CD;
        padding: 0 1.6rem;
        outline: none;
        height: 5rem; }
      #home.content main .container section form span {
        display: inline-block;
        margin-bottom: 1rem; }
      #home.content main .container section form .button,
      #home.content main .container section form input {
        margin-bottom: 1.8rem; }
      #home.content main .container section input, #home.content main .container section .button {
        width: 100%;
        height: 5rem; }
      #home.content main .container .separator {
        margin: 4rem 0; }

#room.content {
  display: block;
  max-width: 90%; }
  #room.content header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 560px) {
      #room.content header {
        flex-direction: column; } }
    @media (max-width: 560px) {
      #room.content header > a {
        margin-bottom: 1rem; } }
    #room.content header .buttons {
      display: flex; }
      #room.content header .buttons .button:nth-child(1) {
        margin-right: .8rem;
        padding: 1.3rem 1.6rem; }
        @media (max-width: 560px) {
          #room.content header .buttons .button:nth-child(1) {
            padding: .6rem 1rem; } }
        #room.content header .buttons .button:nth-child(1) img {
          margin-left: 2rem; }
      #room.content header .buttons .button:nth-child(2) {
        padding: 1.3rem 3.2rem; }
        @media (max-width: 560px) {
          #room.content header .buttons .button:nth-child(2) {
            padding: .9rem 2rem; } }
      #room.content header .buttons .button img {
        width: 2rem;
        height: 2rem; }
  #room.content main #question-form h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: #0D114F;
    font-weight: 700;
    line-height: 4.2rem;
    margin-bottom: 2.4rem; }
  #room.content main #question-form form {
    border: 0.2rem solid #A1B2CD;
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem .8rem;
    margin-bottom: 1.6rem; }
    #room.content main #question-form form textarea {
      resize: none;
      width: 100%;
      outline: none;
      background-color: transparent; }
      #room.content main #question-form form textarea::placeholder {
        color: #A1B2CD; }
    #room.content main #question-form form footer {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #room.content main #question-form form footer > div {
        color: #A5B0C1;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center; }
        #room.content main #question-form form footer > div img {
          margin-right: .9rem; }
      #room.content main #question-form form footer button {
        height: auto;
        padding: .8rem 2.4rem;
        line-height: 2.4rem; }
  #room.content main #questions {
    overflow-y: scroll;
    padding: 3rem 0;
    max-height: 60vh; }
    @media (max-height: 800px) {
      #room.content main #questions {
        max-height: 45vh; } }
    #room.content main #questions .no-questions {
      text-align: center;
      margin-top: 5.2rem; }
      #room.content main #questions .no-questions img {
        max-width: 100%;
        margin-bottom: 1.2rem; }
      #room.content main #questions .no-questions p:first-of-type {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        color: #0D114F; }
      #room.content main #questions .no-questions p:last-child {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 1.3rem;
        line-height: 1.9rem;
        color: #4D5E77; }
    #room.content main #questions .question-wrapper {
      background-color: #E0ECFF;
      margin-bottom: .8rem;
      border-radius: 0 .8rem .8rem .8rem;
      padding: 2.4rem; }
      #room.content main #questions .question-wrapper .question-content {
        display: flex;
        align-items: flex-start; }
        #room.content main #questions .question-wrapper .question-content .user {
          background-color: #3485FF;
          clip-path: circle();
          padding: 1.4rem; }
        #room.content main #questions .question-wrapper .question-content p {
          margin-left: 1.6rem;
          word-break: break-word;
          display: flex;
          align-items: center;
          min-height: 5.5rem; }
      #room.content main #questions .question-wrapper .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        @media (max-width: 560px) {
          #room.content main #questions .question-wrapper .actions {
            justify-content: center;
            margin-top: 1rem; } }
        #room.content main #questions .question-wrapper .actions a {
          color: #4D5E77; }
        #room.content main #questions .question-wrapper .actions > a {
          display: flex;
          align-items: center; }
          #room.content main #questions .question-wrapper .actions > a > img {
            margin-right: .8rem; }
          #room.content main #questions .question-wrapper .actions > a + a {
            margin-left: .8rem; }
    #room.content main #questions .question-wrapper.read {
      background-color: #EAECF2; }
      #room.content main #questions .question-wrapper.read .actions a:first-child {
        cursor: not-allowed;
        pointer-events: none; }
      #room.content main #questions .question-wrapper.read .question-content .user {
        background-color: #A1B2CD; }
