@mixin flexPosition($justCont: center, $alignIte: center) {
  display: flex;
  align-items: $alignIte;
  justify-content: $justCont;
}

@mixin responsive($breakpoint) {
  @if($breakpoint == xl) {
    @media(max-width: 1200px) {
      @content;
    }
  }

  @if($breakpoint == lg) {
    @media(max-width: 1000px) {
      @content;
    }
  }

  @if($breakpoint == md) {
    @media(max-width: 760px) {
      @content;
    }
  }

  @if($breakpoint == sm) {
    @media(max-width: 560px) {
      @content;
    }
  }
}

@mixin responsiveHeight($breakpoint) {
  @if($breakpoint == md) {
    @media(max-height: 800px) {
      @content;
    }
  }
}